@inherits LayoutComponentBase

<div class="login-layout">
    <img src="/img/b-braun-logo.png" alt="B. Braun" class="login-logo-floating" />
    <main class="login-main">
        @Body
    </main>
</div>